<div class="container-fluid bg-dark text-white-50 footer pt-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-3">
                <a href="index.html" class="d-inline-block mb-3">
                    <h3 class="text-white">Groupement Zrayeb Djerba</h3>
                </a>
                <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                    amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                    clita duo justo et tempor</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5 class="text-white mb-4">À propos</h5>
                <p><i class="fa fa-map-marker-alt me-3"></i>123 Midoun, Midoun, Tunisie</p>
                <p><i class="fa fa-phone-alt me-3"></i>+216 99 999 999</p>
                <p><i class="fa fa-envelope me-3"></i>example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5 class="text-white mb-4">Menu</h5>
                <a class="btn btn-link" href="">Menu Item</a>
                <a class="btn btn-link" href="">Menu Item</a>
                <a class="btn btn-link" href="">Menu Item</a>
                <a class="btn btn-link" href="">Menu Item</a>
                <a class="btn btn-link" href="">Menu Item</a>
            </div>
            <div class="col-md-6 col-lg-3">
                <h5 class="text-white mb-4">Nos Services</h5>
                <a class="btn btn-link" href="">Menu Item</a>
                <a class="btn btn-link" href="">Menu Item</a>
                <a class="btn btn-link" href="">Menu Item</a>
                <a class="btn btn-link" href="">Menu Item</a>
                <a class="btn btn-link" href="">Menu Item</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-12 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="">Boukabous Site</a>, 
                    Tous droits réservés.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->