<div class="container-fluid py-5 animated fadeIn">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img class="img-fluid" src="assets/img/balade2.jpg">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Nos Services</div>
                <h1 class="mb-4">Évasion Marine: Balades Inoubliables en Mer</h1>
                <p class="mb-4">Partez pour des balades en mer inoubliables avec nous ! Découvrez la beauté du littoral, le balancement des vagues et l'émerveillement devant la faune marine. Embarquez avec notre équipe expérimentée pour une aventure mémorable. Inscrivez-vous dès maintenant et plongez dans l'essence même de la mer.</p>
                <div class="d-flex align-items-center mt-4">
                    <button class="btn btn-primary rounded-pill px-4 me-3" href="#" onclick="myFunction()"><i class="fas fa-plus"></i>Découvrire nos balades</button>
                </div>
            </div>
        </div>
    </div>
</div>