<div class="container-fluid pt-5 bg-primary hero-header mb-5">
    <div class="container pt-5">
        <div class="row g-5 pt-5">
            <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <h1 class="display-4 text-white mb-4 animated slideInRight">Nos Services</h1>
                <p class="text-white mb-4 animated slideInRight">Nous mettons à votre disposition une sélection exclusive de balades, présentant un programme exceptionnel et riche qui répondra à toutes vos attentes.</p>
            </div>
        </div>
    </div>
</div>